.footer-section {
    background-color:$bgdark;
}

.footer-item {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    position:relative;
    justify-content:space-evenly;
}

.footer-logo {
    display:block;
    padding:20px;
}

.footer-logo img {
    width: 8cm;
    // max-width:8cm;
    // min-width:5cm;
    // max-height:5cm;
    // min-height:3cm;
    margin-top:20px;
    margin-bottom:40px;
    margin-left:10px;
    margin-right:10px;

    @media only screen and (max-width : 1100px){
        width: 5cm;
    }
    @media #{$md}{
        width: 8cm;
    }

}

.footer-v-bar {
    background-color:$titlecolor;
    width:3px;
    height:5cm;
    margin-top:20px;
    margin-bottom:30px;
    margin-left:20px;
    margin-right:20px;
    @media #{$md}{
        display: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.footer-info {
    display: flex;
    flex-direction: column;
    color: $titlecolor;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-left: none;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;

    @media #{$md}{
        font-size: 20px;
        padding: 20px 0;
    }

    @media #{$mobile}{
        font-size: 18px;
    }
}

.footer-info ul li {
    margin-top: 10px;
    margin-bottom: 10px;

}

.copyright-info {
  display: block;
  width: 100%;
  text-align: center;
  color: $titlecolor;
  font-size: 16px;
  margin-bottom: 15px;
  @media #{$md}{
      font-size: 14px;
  }
  @media #{$sm}{
      font-size: 12px;
  }
  @media #{$mobile}{
      font-size: 11px;
  }
}

#facebook {
    text-decoration: none;
    color:$titlecolor;
}

#facebook:visited {
    text-decoration: none;
    color:$titlecolor
}
