.camTitle-main{
    margin: auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    align-items: center;
    @media #{$lg}{
        width: 90%;
    }
    @media #{$sm}{
        width: 100%;
        
    }
    .camTitle-name{
        color: #FCB60C;
        font-size: 30px;
        @media #{$xl-desktop}{
            font-size: 42px;

        }
        @media #{$desktop}{
            font-size: 40px;
            
        }
        @media #{$lg}{
            font-size: 35px;
        }
        @media #{$sm}{
            font-size: 26px;
            
        }
        @media #{$mobile}{
           font-size: 20px; 
        }

    }   
    .camTitle-price{
        color: white;
        font-size: 27px;
        @media #{$xl-desktop}{
            font-size: 35px;

        }
        @media #{$desktop}{
            font-size: 32px;
        }
        @media #{$lg}{
            font-size: 26px;
        }
        @media #{$sm}{
            font-size: 17px;
            
        }
        @media #{$mobile}{
            font-size: 14px; 
         }
    }
}