.camTitle-main{
    margin: auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    align-items: center;
    .camTitle-name{
        color: #FCB60C;
        font-size: 30px;
        @media #{$xl-desktop}{
            font-size: 42px;

        }
        @media #{$desktop}{
            font-size: 40px;
            
        }
    }   
    .camTitle-price{
        color: white;
        font-size: 27px;
        @media #{$xl-desktop}{
            font-size: 35px;

        }
        @media #{$desktop}{
            font-size: 32px;
            
        }
    }
}