.camInfo-main{
    margin:0 auto;
    width: 65%;
    @media #{$xl-desktop}{
        width: 70%;
    }
    @media #{$desktop}{
        width: 70%;
    }
    @media #{$lg}{
        width: 85%;
    }
    @media #{$md}{
        width: 100%;
    }
    @media #{$sm}{
        width: 100%;
    }
    @media #{$mobile}{
        width: 100%;
    }
    .camInfo-container{
        border-radius: 10px;
        background-color: $alcolor;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        padding:15px 15px;
        margin: 15px 0;
        color: white;
        display: flex;
        flex-direction: row;
        @media #{$xl-desktop}{
            padding:15px 25px;
            
        }
        @media #{$desktop}{
            padding:15px 25px;
        }
        @media #{$lg}{
            padding:15px 25px;
            
        }
        @media #{$mobile}{
            flex-direction: column;
            
        }



        .camInfo-specs{
            flex: 3;
            font-size: 18px;
            padding: 10px;
            @media #{$md}{
                font-size: 16px;
            }
            @media #{$sm}{
                font-size: 14px;
            }
            @media #{$mobile}{
                flex: 1;
            }
            li{
                margin:4px 0;
            }
        }

        .camInfo-btns{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            font-size: large;
            font-weight: 500;
            @media #{$mobile}{
                flex-direction: row;
                margin: auto;
            }
        
            .info-sell-btn{
                // display: inline;
                background-color: $titlecolor;
                color: black;
                border-radius: 10px;
                padding: 10px;
                transition: 0.3s all ease;
                cursor: pointer;
                user-select: none;
                margin: 5px;
                @media #{$xl-desktop}{
                   padding: 15px;
                   margin: 10px;
                }
                @media #{$desktop}{
                    padding: 15px;
                    margin: 10px;  
                }
                @media #{$md}{
                    font-size: 13px;
                }
                @media #{$sm}{
                    font-size: 12px;
                    padding: 12px;
                }
        
        
                &:hover{
                    color: $titlecolor;
                    background-color: black;
                    transition: 0.3s all ease;
                }
                &:active{
                    transform: scale(0.95);
                }
            }
            .info-msg-btn{
                // display: inline;
                background-color: white;
                color: black;
                border-radius: 10px;
                padding: 10px;
                padding: 10px;
                transition: 0.3s all ease;
                cursor: pointer;
                user-select: none;
                margin: 5px;
                @media #{$xl-desktop}{
                    padding: 15px;
                    margin: 10px;
                 }
                 @media #{$desktop}{
                     padding: 15px;
                     margin: 10px;  
                 }
                 @media #{$md}{
                    font-size: 12px;
                }
                 @media #{$sm}{
                    font-size: 14px;
                    padding: 12px;
                }
                &:hover{
                    color: white;
                    background-color: black;
                    transition: 0.3s all ease;
                }

                &:active{
                    transform: scale(0.95);
                }
            }
        }
    }

}

// ->> CamDetails.jsx styles <<-

.camDet-main{
    margin:30px auto;
    width: 65%;
    padding: 0 0 20px;
    color: white;
    @media #{$md}{
        width: 85%;
    }
    @media #{$sm}{
        width: 95%;
    }
    @media #{$mobile}{
        padding: 0 0 10px;
    }

    hr {
        color: rgba(240, 255, 255, 0.185);
    }
    .camDet-title{
        color: $titlecolor;
        font-weight: 500;
        font-size: large;
        @media #{$xl-desktop}{
            padding: 15px;
            padding-bottom: 7px;
            font-size: x-large;
             
         }
         @media #{$desktop}{
             padding: 15px;
             padding-bottom: 7px;
             font-size: x-large;  
         }
         @media #{$mobile}{
            font-size: large;  
        }
    }
    .camDet-discr{
        padding: 5px 10px 10px 0;
        color: white;
        text-align: justify;
        @media #{$xl-desktop}{
            font-size: medium;
         }
         @media #{$desktop}{
            font-size: medium;  
         }
         @media #{$md}{
            font-size: small;  
        }
         @media #{$mobile}{
            font-size: small;  
            padding: 5px 10px 10px 0;
        }
    }
}