//Same styles to add gallery images

.rev-alert{
    background-color: #C9E1CE;
    color: #407641;
    padding: 7px 5px;
    text-align: center;
    border-radius: 3px;
}
.rev-admin-btns{
    margin-left: 50px;
}

.rev-admin-form{
    margin-top: 30px;
}

.rev-admin-content{
    label{
        margin-left: 30px;
    }
    input[type="file"] {
        width: 100px;
        z-index: 1;
        top: 0px;
        left: 100px;
        font-size: 15px;
        color: #b8b8b8;
        border: none;
        margin-left: 10px;
      }
}