$bgColor: #282828;
$goldYellow:rgb(215,159,23);
*{
    margin: 0;
}
.card{
    padding:20px;
    max-width: 90%;
    margin: auto;
    background-color: $bgColor;
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    box-shadow: 0px 10px 50px -10px rgba(0,0,0,0.90);
    // height: 200px;
    @media #{$sm}{
        max-width: 100%;
    }
    @media #{$midmob}{
        max-width: 200px;
        flex-direction: column;
    }
}

.card:hover{
    background-color:rgb(35, 35, 36);
    box-shadow: $goldYellow 0px 0px 5px 0px, $goldYellow 0px 0px 1px 0px;
    transition: all 0.3s;
}
.card-photo{
    display: flex;
    flex: 1;
}
.card-img{
    margin: auto;
    align-items: center;
    // border-top-left-radius: 10px;
    // border-bottom-left-radius: 10px;
    border-radius: 10px;
    opacity: 0.6;
    // z-index: -1;
    height: 130px;
    width: 130px;
    object-fit: cover;
    @media #{$sm}{
        height: 110px;
        width: 110px;
    }
    @media #{$midmob}{
        height: 130px;
        width: 180px;
    }
}
.card-body > h2{
    color: $goldYellow;
    margin-left:10px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    @media #{$midmob}{
        margin-top: 5px;
        font-size: x-large;
     }
}
.card-body > p{
    color: whitesmoke;
    font-weight: 400;
    margin-bottom: 3px;
    margin-left:10px;
    @media #{$sm}{
        font-size: small;
    }
    @media #{$midmob}{
    //    display: none;
    &::before{
        content: '- ';
        font-size: smaller;
    }
    }
}
.card-body{
    flex: 4;
    padding-left: 5px;
    @media #{$midmob}{
        // display: none;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: flex-start;
    }
    
}
.card-end {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // justify-items: flex-end;
    @media #{$midmob}{
        // display: none;
        align-items: center;
        justify-content: flex-start;
    }
}

.card-end {
    .card-Button{
        z-index: 2;
        position: relative;
        border: 1px solid $goldYellow;
        text-decoration: none;
        color: $goldYellow ; //rgb(43, 43, 48);
        padding: 7px 14px;
        font-size: large;
        cursor: pointer;
        user-select: none;
        margin-top: 4rem;
        background-color: transparent;
        font-family: 'Roboto';
        font-weight: 600;
        border-radius: 5px;
        &:hover {
            // background-color: rgb(43, 43, 48);
            color: black;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
                        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
                        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            transition: all 0.3s;
        }
        @media #{$sm}{
            font-size: large;
            margin-top: 3rem;   
            padding: 5px 10px;

        }
        @media #{$midmob}{
            // display: none;
            margin-top: 1rem;   
            padding: 7px 14px;      
         }
    }
    .card-Button span{
        height: 100%;
        width: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: $goldYellow;
        transition: 0.2s all ease-out;
    }
    .card-Button:hover span{
        width: 100%;
    }
}
.card-end .MuiRating-icon{
    color: $goldYellow;
}

.price-card{
    background-color: #0f0f0f21;
    border:1px solid #2b2b2b;
    border-radius: 10px;
    padding: 5px 10px;
    color: whitesmoke;
    font-size: x-large;
    @media #{$sm}{
        font-size: large;
    }
    @media #{$midmob}{
        margin-top: 10px;
        font-size: 23px;
    }
}
