$goldYellow:rgb(252, 182, 12);
$bgColor:rgb(48, 48, 53);
$bgColorHover:rgb(67, 67, 80);

.search{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    @media #{$sm}{
        flex-direction: column-reverse;
        margin-top: 70px;
        width: 100%;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        @media #{$sm}{
            margin:10px auto;
        }
        @media #{$midmob}{
            
        }
    }

    
}
.search-box{    
    display: flex;
    border: 1px solid $goldYellow;
    border-radius: 999px;
    width: auto;
    margin:0 10px;
    background-color:$bgColor;
}
.search-box > input{
    padding-left: 15px;
    flex:1;
    border: none;
    background-color:$bgColor ;
    border-radius: 999px;
    color: $goldYellow;
}
.search-box > input:hover, .price:hover, .arrival-time:hover{
    background-color:$bgColorHover ;
}

.search-box>input:focus{
    outline-width:0;
}

.iconbutton{    
    background-color: $goldYellow  !important;
    border-top-right-radius: 999px !important;
    border-bottom-right-radius: 999px !important;
}

.price, .arrival-time{
    padding: 5px;
    border-radius: 9px;
    border: solid $goldYellow 1px;
    background-color: $bgColor;
    color: $goldYellow;
    width: 150px;
    margin: 0 10px;
}
